# ========== FRONTEND ==========

# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend/.env
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# ========== BACKEND ==========

# dependencies
/backend/node_modules

# logs
/backend/npm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*

# env files
/backend/.env
/backend/.DS_Store

# ========== COMMON ==========

.DS_Store
.env
*.log
